/****** Main Styling ******/

body {
  background-color: #a9b4c2;
  text-align: center;
}

.page-title {
  color: black !important;
}

.display-1 {
  color: white;
}

.display-5 {
  font-size: 2rem;
}

.display-6 {
  font-size: 1.5rem;
  text-decoration: none;
}

.card {
  border: none;
  background-color: white;
}

.display-4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

code {
  font-family: monospace;
  /*   padding: 2px; */
  color: black;
  /*   background-color: #fff; */
}

ul {
  list-style-type: none;
}

a {
  color: #2574a9;
}
